<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="theme.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container pt-5" id="app" v-cloak>
        <div class="card center">
            <h1>{{title}}</h1>
        <hr />
        <button class="btn" @click="title = 'DDT'">Open</button>
        <hr />
        <ul class="list" v-if="items.length !== 0">
            <li 
                class="list-item" 
                v-for="(item, i) in evenItems" 
                @click="items.splice(i, 1)"
                :key="item"
            ><strong>{{ item }}</strong>&nbsp;
                <input type="text" @click.stop />
            </li>
        </ul>
        <h3 v-else>Элементов нет!</h3>
        </div>


    </div>
        
           

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>